<div
  class="flex flex-col h-screen  max-w-none bg-gray-200"
>
  <header>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-sky-500 mb-3">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
          <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
          >
            Angular 17 Demo App
          </a>
          <button
            (click)="toggleNavbar()"
            class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button">
            <i class="fas fa-bars"></i>
          </button>

        </div>
        <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
          <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
              <a
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                routerLink="/home">
                <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
                class="ml-2">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                routerLink="/about">
                <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">About</span>
              </a>
            </li>

          </ul>
        </div>

      </div>
    </nav>
  </header>
  <main [@routeAnimations]="getRouteAnimationData()" class="max-w-7xl sm:px-6 lg:px-8">
    <router-outlet></router-outlet>

  </main>
</div>
