<div
  class="flex flex-col h-screen  max-w-none bg-gray-200"
>
  <header>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-sky-500 mb-3">
      <div class="container px-4 mx-auto flex flex-row flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
          <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
          >
            Angular 17 Demo App
          </a>
        </div>
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
          <li class="nav-item">
            <a
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              routerLink="/home">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              routerLink="/books">
              Books
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  <main [@routeAnimations]="getRouteAnimationData()" class="max-w-7xl sm:px-6 lg:px-8">
    <router-outlet></router-outlet>

  </main>
</div>
